﻿* { 
	margin: 0; 
	padding: 0;
}


.menu {
  background:#202024 url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/black-thread.png') repeat left top;
  left: -285px;  
  height: 100%;
  position: fixed;
  width: 285px;
}


.menu ul {
  border-top: 1px solid #636366;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border-bottom: 1px solid #636366;
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

.menu a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
}

.icon-menu {
  color: #FFFFE0;
  cursor: pointer;
  font-family: Comic Sans MS;
  font-size: 38px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-menu i{  
  margin-right: 5px;
}

article {
    margin-left: auto;
    margin-right: auto;
	width:1150px;
	border-left: 10px solid rgb(178, 156, 119);
	border-right: 10px solid rgb(178, 156, 119);
	box-shadow: rgb(114, 103, 88) 0px -4px 6px 4px;
	background: rgb(227, 214, 195);
	background-repeat: repeat-y;
	display: block;
	overflow: visible;
	margin-top: -70px;
}
body {
	background-image: url('http://b380.photo.store.qq.com/psb?/37d89ca2-3851-4f34-9bd4-a736ab53abbf/OSmZXCAGVYdvHq9tE1jkGl8q2H2aBNjJbjsbctNUTH0!/c/dP.PguINAgAA&bo=ywCCAMsAggAFACM!&rf=mood_app');
    overflow: auto;
}

.nav li {
	display: inline;
}

.nav a {
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: Verdana;
	padding: 30px;
	margin-right: 15px;
}

a:hover {
	color:#5a5a5a;
	text-decoration:underline;
}

.jumbotron {
	background-image: url('http://b382.photo.store.qq.com/psb?/37d89ca2-3851-4f34-9bd4-a736ab53abbf/oojKSnUjEenAHDOkUQOfhyAEcH.dv0f8DzrNV2FF13Q!/c/dG9Hu.P*PQAA&bo=wAMiAcADIgEFACM!&rf=mood_app');
    height: 350px;
    width: 1100px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
}

.jumbotron .inner {
	position: relative;
	top: -30px;
    margin-left: 250px;
    padding: 24px;

}

.jumbotron h1 {
	font-size: 40px;
	font-family: Comic Sans MS;
    color: rgb(178, 156, 119);
}

.info img {
	height: 170px;
	width: 140px;
	margin-left: 20px
}

.info {
    height: 430px;
    width: 250px;
	border: 1px solid rgb(177, 156, 118);
	margin-left: 20px;
	background: linear-gradient(rgb(178, 156, 119), rgb(247, 243, 238));
}

.info h2 {
	font-size:28px;
	font-family: Gabriola;
	font-weight: bolder;
	margin-left: 20px;
	color: #4F4F4F;
}

.info p {
	font-family: Gabriola;
	font-size: 20px;
	padding: 5px;
	margin-top: 5px;
	font-weight: bold;
	margin-left: 20px;
	color: #4F4F4F;
}

.motto {
	background-color: rgb(247, 243, 238);
    height: 200px;
    width: 250px;
	border: 1px solid rgb(177, 156, 118);
	margin-left: 20px;
	box-shadow: ;
	margin-top: 15px; 
    background: linear-gradient(rgb(178, 156, 119), rgb(247, 243, 238));
}

.motto h3 {
	font-size:28px;
	font-family: Gabriola;
	font-weight: bolder;
	margin-left: 20px;
	color: #4F4F4F;
}

.motto p {
	font-family: Gabriola;
	font-size: 20px;
	padding: 10px;
	margin-top: 5px;
	font-weight: bold;
	margin-left: 20px;
	color: #4F4F4F;
}

.float-left {
	float: left;
}

.latest {
	width: 820px;
	height: 645px;
	float: left;
    border: 1px solid rgb(177, 156, 118);
    margin-left: 25px;
    background: linear-gradient(rgb(178, 156, 119), rgb(247, 243, 238));
}

.latest img {
	height: 185px;
	width: 245px;
	margin-left: 20px;
	padding:10px;
	cursor: pointer;
}

.latest h2 {
	font-size: 30px;
	font-family: Gabriola;
	font-weight: bolder;
	margin-left: 20px;
	color: #4F4F4F;
}

.clear {
	clear: both;
}

.MyInterest {
	height: 620px;
	width: 1095px;
	border: 1px solid rgb(177, 156, 118);
	margin-left: 20px;
    background: linear-gradient(rgb(178, 156, 119),rgb(247, 243, 238));
    margin-top: 20px;
}

.MyInterest img{
	height: 210px;
	width: 305px;
	margin-left: 20px;
}

.MyInterest h3 {
	font-family: Gabriola;
	font-weight: bold;
	color: #4F4F4F;
	margin-left: 20px;
}

.MyInterest h2 {
	font-family: Gabriola;
	font-weight: bold;
	color: #4F4F4F;
	margin-left: 20px;
}

#scroll {
    margin-top:800px;
    position: fixed;
	margin-left: 1700px;
	display: none;
}

.MyBlog {
	height: 620px;
	width: 1095px;
	border: 1px solid rgb(177, 156, 118);
	margin-left: 20px;
    background: linear-gradient(rgb(178, 156, 119),rgb(247, 243, 238));
    margin-top: 20px;
    overflow: hidden;
    zoom:1;
}

.MyBlog h2 {
	font-family: Gabriola;
	font-weight: bold;
	color: #4F4F4F;
	margin-left: 20px;
}

.MyBlog ul {
	margin-top: 5px;
    display: none;
}

.MyBlog li {
    list-style: none;
    font-family: Gabriola;
    font-size: 20px;
    margin-left: -18px;
    color: #4F4F4F;
}

.MyBlog a {
	margin-left: 20px;
	font-family: Gabriola;
    font-size: 24px;
    color: #4F4F4F;
    text-decoration: none;
}

.slideDown {
	height: 150px;
	width: 100px;
}

.sortBy a {
	font-family: Gabriola;
    font-size: 20px;
    color: #4F4F4F;
    text-decoration: none;
    margin-left: -10px;
}
