*{
	margin:0;
	padding: 0;
}

#carousel-example-generic{
	max-width: inherit;
}

.navbar{
	font-family: 'Raleway', sans-serif;
	opacity: 0.9;
}

.navbar-brand{
	font-size: 150%;
	font-weight: bold;
}

.navbar-right a:hover{
	color: #FF6347!important;
}

.background{
	position: absolute;
	text-align: center;
	margin-top: -50%;
	margin-left: 30%;
	margin-right: 30%;
}

.background h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 400%;
	color: #fff;
}

.background h3 {
	font-family: 'Raleway';
	font-size: 150%;
	color: #fff;
	padding-bottom: 50px;
}

.background a {
	text-decoration: none;
}

.background-a {
	width: 50px;
	height: 50px;
	border:1px solid #fff;
	border-radius: 50%;
	display: inline-block;
	margin-bottom: 80px;
	margin-left: 10px;
}

.background-a:hover {
	background-color: #CFCFCF;
}

.background-a a {
	color: #fff;
}

.background-a i {
	display: block;
	margin-top: 17px;
}

.background-hire {
	font-family: 'Raleway';
	letter-spacing: 2px;
	color: #fff;
	font-size: 20px;
	height: 90px;
	width: 160px;
	text-align: center;
	cursor: pointer;
	border: 2px solid #fff;
	padding: 10px;
	border-radius: 5%;
}

.background-hire:hover {
	background-color: #FFFFFF;
	color: #CFCFCF;
	font-weight: bold;
}

.myContact {
	
}

.myContact {
	font-family: 'Raleway', serif, sans-serif;
	font-size: 150%;
	color: #696969;
	text-align: center;
	padding: 1%;
	margin-top: 1%;
}

#myEmail {
	text-decoration: none;
	color: #EF4836;
}

#myEmail:hover {
	color: #696969;
}

i {
	color: #696969;
}

hr{
	background-color: #FFFAFA; 
	height: 4px; 
	border:0;
}

.myProfile img{
	max-height: 80%;
	max-width: 80%;
	margin-top: 10%;
}

.myProfile p {
	font-family: 'Raleway',sans-serif;
	color: #696969;
	font-size: 150%;
}
.myProfile h3 {
	font-family: 'Raleway',sans-serif;
	color: #696969;
	margin-top: 0;
	font-size: 200%;
}

.mySkills img{
	max-height: 40%;
	max-width: 40%;
}

.mySkills p{
	font-size: 200%;
	font-family: 'Raleway',sans-serif;
	color: #696969;
}

.myService p {
	font-family: 'Raleway',sans-serif;
	font-size: 150%;
	color: #696969;
}

.myStatus h1{
	font-size: 300%;
	font-family: 'Raleway', sans-serif;
	color: #696969;
}

.myStatus p {
	font-family: 'Raleway',sans-serif;
	font-size: 150%;
	color: #696969;
}

.myResume p{
	font-family: 'Raleway', sans-serif;
	color: #696969;
	font-size: 120%;
}

.myResume h4{
	margin-top: 0;
	font-family: 'Raleway', sans-serif;
	color: #696969;
}

.myPortfolio img{
	max-width: 100%;
	max-height: 100%;
	margin-bottom: 10%;
}

.myPortfolio-margin img{
	
}

.myPortfolio p{
	font-size: 150%;
	font-family: 'Raleway', sans-serif;
	color: #696969;
}

h1{
	font-size: 300%;
	font-family: 'Raleway', sans-serif;
	color: #696969;
}

.contact{
	background-color: #18191a;
}

.contact li{
	font-family: 'Raleway', sans-serif;
	color: #FFF;
	font-size: 150%;
}

.contact i{
	color: #FFF;
}
.contact h1{
	color: #FFF;
	font-family: 'Raleway', sans-serif;
	font-size: 300%;

}
.contact p{
	color: #FFF;
	font-family: 'Raleway', sans-serif;
	font-size: 150%;
}

.contact button{
	font-family: 'Raleway', sans-serif;
	font-size: 150%;
	color: #696969;
}
