.navbar{
	font-family: 'Raleway', sans-serif;
}

.navbar-right a:hover{
	color: #FF6347!important;
}

.background {
	position: relative;
}

.background-img li {
	list-style: none;
	display: none;

}

.background-img img {
	max-height:	100%;
	max-width: 100%;
}

.background-img {
	overflow: hidden;
	zoom:1;
	padding: 0;
} 

.background-info {
	position: absolute;
	top: 30%;
	left: 30%;
	text-align: center;
}

.background-info h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 500%;
	color: #fff;
}

.background-info h3 {
	font-family: 'Raleway';
	font-size: 30px;
	color: #fff;
	padding-bottom: 50px;
}

.background-info a {
	text-decoration: none;
}

.background-a {
	width: 50px;
	height: 50px;
	border:1px solid #fff;
	border-radius: 50%;
	display: inline-block;
	margin-bottom: 80px;
	margin-left: 10px;
}

.background-a:hover {
	background-color: #CFCFCF;
}

.background-a a {
	color: #fff;
}

.background-a i {
	display: block;
	margin-top: 17px;
}

.background-hire {
	font-family: 'Raleway';
	letter-spacing: 2px;
	color: #fff;
	font-size: 20px;
	height: 90px;
	width: 160px;
	text-align: center;
	cursor: pointer;
	border: 2px solid #fff;
	padding: 10px;
	border-radius: 5%;
}

.background-hire:hover {
	background-color: #FFFFFF;
	color: #CFCFCF;
}
