*{
	margin:0;
	padding: 0;
}

.navbar{
	font-family: 'Raleway', sans-serif;
	opacity: 0.9;
}

.navbar-brand{
	font-size: 150%;
	font-weight: bold;
}

.navbar-right a:hover{
	color: #FF6347!important;
}

.background {
	position: relative;
}

.background-img li {
	list-style: none;
	display: none;

}

.background-img img {
	max-height:	100%;
	max-width: 100%;
}

.background-img {
	overflow: hidden;
	zoom:1;
	padding: 0;
} 

.background-info {
	position: absolute;
	top: 30%;
	left:25%;
	text-align: center;
}

.background-info h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 500%;
	color: #fff;
}

.background-info h3 {
	font-family: 'Raleway';
	font-size: 30px;
	color: #fff;
	padding-bottom: 50px;
}

.background-info a {
	text-decoration: none;
}

.background-a {
	width: 50px;
	height: 50px;
	border:1px solid #fff;
	border-radius: 50%;
	display: inline-block;
	margin-bottom: 80px;
	margin-left: 10px;
}

.background-a:hover {
	background-color: #CFCFCF;
}

.background-a a {
	color: #fff;
}

.background-a i {
	display: block;
	margin-top: 17px;
}

.background-hire {
	font-family: 'Raleway';
	letter-spacing: 2px;
	color: #fff;
	font-size: 20px;
	height: 90px;
	width: 160px;
	text-align: center;
	cursor: pointer;
	border: 2px solid #fff;
	padding: 10px;
	border-radius: 5%;
}

.background-hire:hover {
	background-color: #FFFFFF;
	color: #CFCFCF;
}

.myContact {
	padding: 1%;
}

.myContact {
	font-family: 'Raleway', serif, sans-serif;
	font-size: 150%;
	color: #696969;
	text-align: center;
}

#myEmail {
	text-decoration: none;
	color: #EF4836;
}

#myEmail:hover {
	color: #696969;
}

.myContact i {
	color: #696969;
}

hr{
	background-color: #FFFAFA; 
	height: 4px; 
	border:0;
}

.myProfile img{
	max-height: 80%;
	max-width: 80%;
	margin-top: 5%;
}

.myProfile h1 {
	font-family: 'Raleway', sans-serif;
	color: #696969;
	font-size: 300%;
}

.myProfile p {
	font-family: 'Raleway',sans-serif;
	color: #696969;
	font-size: 150%;
}
.myProfile h3 {
	font-family: 'Raleway',sans-serif;
	color: #696969;
	margin-top: 0;
	font-size: 200%;
}

.mySkills img{
	max-width: 40%;
	max-height: 40%;
}

.mySkills{
	text-align: center;
	font-size: 150%;
	font-family: 'Raleway',sans-serif;
	color: #696969;
}

.mySkills h1{
	font-size: 300%;
	letter-spacing: 15px;
}